.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked~.container_rotulo>.cabeçalho_menu-hamburguer {
    background-image: url("../img/Menu Aberto.svg");
}

.container_botao:checked~.container_rotulo {
    background: var(--azul-degrade);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked~.lista-menu {
    display: block;
}

.lista-menu_titulo,
.lista-menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degradde);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao{
    display: none;
}

.container_titulo {
    display: none;
}

.opções {
    display: none;
}

.container_texto {
    display: none;
}

@media screen and (min-with: 1024px){

    .container_titulo,
    .container_titulo--negrito {
        font-family: var(--fonte-secundaario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem-trasnparente {
        display: none;
    }

    .cabeçalho_menu-hamburguer {
        display: none;
    }

    .opções_botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções_botão {
        display: none;
    }

    .opções_botão:checked~.opções_rotulo>.opções_item {
        background: var(--azul-degradde);
        color: var(--branco);
    }

    .opções_item {
        padding: 2em 1em;
    }

    .lista-menu_item:hover {
        background: var(--azul-degradde);
    }

    .lista-menu_item:hover>.lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px){
    
}